<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FCP</title>
  <!-- <link rel="stylesheet" href="style.css" type="text/css"> -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>

  
  <div class="main">
    <img src="{{ url_for('game_result')}}" width="100%" height="100%">

    <!-- <div class="frist"> -->
      <!-- <img class="fcp" src="fcpb.png" alt="로고"> -->
      <!-- <img src="{{url_for('static', filename='image/fcpb.png')}}" alt="로고" class="fcp"> -->
      <!-- <h3 class="center">AILAB</h3> -->
    <!-- </div> -->

    

    <!-- <h4 id="start">게임 시작</h4> -->
    <!-- <div class="second"> -->
      <!-- <img src="bg.png"> -->
      <!-- <img src="{{ url_for('game_result')}}" width="1200px" height="700px"> -->
    <!-- </div> -->

    <!-- <div class="last"> -->
      <!-- <div class="floor-area"> -->
        <!-- <img src="dy.png" alt="동양미래대학교"> -->
        <!-- <img src="{{url_for('static', filename='image/dy.png')}}" alt="동양미래"> -->
        <!-- <p id="left"> -->
          <!-- 08221 서울시 구로구 경인로 445 ([구]고척동 62-160) TEL. 02-2610-1700 / FAX. 02-2688-5494<br> -->
          <!-- COPYRIGHT(C) DONGYANG MIRAE UNIVERSITY. ALL RIGHTS RESERVED.</p> -->
      <!-- </div> -->
    <!-- </div> -->
<!--  -->
  </div>
</body>
</html>